html{
    height: 100%;
}

body{
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
}

.center-content{
    margin-top: 0px;
    margin-bottom: 0px;

    height: 100%;
    max-height: 600px;
    max-width: 700px;
    display: flex;
    flex-flow: column nowrap;
}

h1{
    margin: 0px;
    padding: 0px;
}

button{
    background-color: #5d3daf;
}

.top-banner{
    flex: 0 0 2em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    margin-top: 8px;
    padding: 0px 6px;
}

.name-field{
    padding-right: 4px;
}

.interface{
    width: 100%;
    flex: 1 0;

    display: flex;
    flex-flow: column nowrap;

    overflow: auto;

    padding: 0px 2px;
}

.chat-container{
    width: 100%;
    flex: 1 0;
    border-radius: 5px;
    background-color: #0044;
    border: 3px solid #448;

    overflow: auto;
}
.chat-display{
    font-size: 16px;
    padding-left: 0.3rem;

    line-height: 1.2em;

    background-color: rgba(212, 216, 232, 0.4);
}

.clickables{
    flex: 0 0 1em;
    padding-top: 5px;
    padding-left: 4px;
    margin-bottom: 1em;
}

.clickables button{
    margin: 0px;
    margin-left: 4px;
}

.interface input[type="text"]{
    background-color: rgba(220, 216, 248, 0.6);
    font-family: inherit;
    font-size: 1em;
    padding-left: 4px;
}

#input-text{
    width: 80vw;
}

.message-content{
    margin: 5px auto;
    width: 90%;
    padding: 0px 5px;
    border-radius: 5px;
    background: rgb(255, 233, 227);
    box-shadow: 3px 3px 3px #0046;
    overflow-wrap: break-word;

}

.message-id{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(125, 115, 158);
}

.message-time{
    color: rgb(125, 115, 158);
    margin: 0px;

    display: inline-block;
    line-height: 1em;
    width: 4.7em;

    padding: 0px;
}

.message-user{
    background: rgb(146, 62, 143);
    padding: 1px 5px;
    margin-right: 0.3em;
    color: rgb(255, 236, 218);
    border-radius: 5px;
}

.message-text{
    color: rgb(55, 20, 59);
}

.message-notification{
    color: rgb(71, 135, 199);
}

.spin{
    width: 30px;
    height: 30px;
    animation: load-spin 0.8s infinite linear;
}
.mask{
    width: 22px;
    height: 15px;
    overflow: hidden;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 3px solid #0006;
}

.hide{
    visibility: hidden;
}

@keyframes load-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (min-height: 600px){
    .top-banner{
        margin-top: 26px;
    }
    .interface{
        margin-top: 4px;
    }
}

@media (min-width: 700px){
    #input-text{
        width: 620px;
    }
}