.bokeh-container {
  position: relative;
  contain: paint;
}

.bokeh-particle {
  position: absolute;
  aspect-ratio: 1;
  /* mix-blend-mode: screen; */

  --alpha: 0;

  --full-height: 90%;
  --x: 0;
  --y: 0;
  --z: 2;
  --rot: 45deg;
  
  --projected-x: calc(var(--x) / var(--z));
  --projected-y: calc(var(--y) / var(--z));

  --hue: 180;
  --saturation: 100%;
  --lightness: 50%;
  --alpha: 0;
  --blur-radius: 16px;

  background-color: hsla(var(--hue), var(--saturation), var(--lightness), var(--alpha));

  top: calc((1 + var(--projected-y)) * 50%);
  left: calc((1 + var(--projected-x)) * 50%);
  height: var(--full-height);

  border-radius: 50%;

  filter: blur(var(--blur-radius));

  transform: translate(-50%, -50%) scale(calc(1 / var(--z))) rotate(var(--rot));
  transition: transform 0.017s linear, background-color 0.017s linear, filter 0.017s linear;

  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
