:root {
  --central-max-width: 600px;
}

.rendering-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.benchmark-canvas {
  background-color: #333;
  box-shadow: 1rem 1rem 0rem #0004;

  --canvas-size: min(var(--central-max-width), calc(100vmin - 1.5rem));
  width: var(--canvas-size);
  height: var(--canvas-size);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.heading {
  max-width: var(--central-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.heading h1 {
  display: inline;
  background-color: #222;
  border-radius: 0.25rem;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.benchmark-panel {
  background-color: #222;
  accent-color: rgb(41, 128, 86);
  max-width: var(--central-max-width);
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0px auto;
}

.controls > label {
  display: block;
}

.controls .benchmark-label {
  display: flex;
  justify-content: space-between;
}
