html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  /* box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.533) inset; */
}

:root {
  --max-canvas-resolution: 500px;
  --header-height: 78px;
  --footer-height: 68px;
  --landscape-padding: 1.35rem;

  --content-top-margin: 2rem;
  --content-bottom-margin: 0.9rem;
  --hr-margin: 1.5em;
  --content-padding: 1.1em;
  --scrollbar-background: transparent;
  --ff-scrollbar-thumb: #557;
  --interface-edge: 0px 0px 1px #0afc inset;
  --accent-color: #0af;
  --strong-color: #98b6fb;
  --soft-color: #8aadff;

  --dimmer-text: rgb(226, 167, 214);
  --light-text: rgb(233, 194, 237);
  --brighter-text: rgb(255, 230, 250);
}

/* WebKit scrollbar styles */
html::-webkit-scrollbar,
.content::-webkit-scrollbar {
  background-color: var(--scrollbar-background);
  width: 6px;
}

html::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #44447c, #335 35%);
  border-radius: 3px;
  border: 1px solid var(--scrollbar-background);
  background-clip: content-box;
}

.content::-webkit-scrollbar-thumb:vertical:hover {
  background: unset;
  background-color: #77a;
}

/* Firefox scrollbar styles */
html {
  scrollbar-color: var(--ff-scrollbar-thumb) var(--scrollbar-background);
}

body {
  position: relative;
  z-index: 1;
  min-width: 300px;

  background-color: #000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Catamaran', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

.overlay-grid {
  z-index: 2;
  position: fixed;
  display: grid;
  top: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);

  grid-template-areas:
    'nametag'
    'fill'
    'footer';
  grid-template-rows: var(--header-height) 1fr fit-content(0px);
  place-items: center;
}

.overlay-grid::before {
  z-index: -2;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100%;
  background-image:
    radial-gradient(230vw 30vh at 55vw 112vh, #000 45%, transparent),
    radial-gradient(230vw 200vh at 55vw 112vh, #000, #020204 35%, #403866 98%)
    ;
  background-image:
    radial-gradient(230lvw 30lvh at 55lvw 112lvh, #000 45%, transparent),
    radial-gradient(230lvw 200lvh at 55lvw 112lvh, #000, #020204 35%, #403866 98%)
    ;
}

.loading-notice {
  grid-area: fill;
  margin: auto;
  color: rgb(172, 172, 180);
  font-size: 1.2em;
}

.copyright-notice {
  margin: 3em auto 1.5em auto;
  width: fit-content;
  font-size: 0.85em;
  color: rgb(187, 167, 189);;
}

.copyright-notice a {
  color: rgb(138, 148, 255);
}

.body-spacer {
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.overscroll-margin {
  width: 100%;
  height: 10vh; /* fallback value for older browsers */
}

@supports (height: 100svh) {
  .overscroll-margin {
    height: calc(120lvh - 120svh); /*  On desktop, this element
      has zero height, but on mobile, it provides a slight overflow
      enabling the user to hide the address bar by drag-scrolling. */
  }
}

.glint-canvas {
  pointer-events: none;
  position: fixed;
  z-index: 3;
  border-radius: 10px;
  display: none;
}

.render-canvas {
  z-index: 1;
  position: fixed;
  touch-action: none;
  cursor: grab;

  /* default for older browsers, approximate correction for address bar: */
  height: min(
    var(--max-canvas-resolution),
    95vmin,
    calc(100vh - var(--header-height) - var(--footer-height) - 70px)
  );
    
  left: 50%;
  transform: translate(-50%, -50%);
  
  top: calc(var(--header-height)
    + 0.5 * (100vh - var(--header-height) - var(--footer-height) - 60px));
}

@supports(height: 100dvh) {
  .render-canvas {
    height: min(
      var(--max-canvas-resolution),
      95dvmin,
      calc(100dvh - var(--header-height) - var(--footer-height))
    );
    top: calc(var(--header-height) +
      0.5 * (100dvh - var(--header-height) - var(--footer-height))
    );
  }
}

.name-tag {
  color: var(--strong-color);
  position: relative;
  
  font-weight: 400;
  letter-spacing: 0.065rem;
  padding-left: 0.7em;
}

.small-title {
  color: var(--soft-color);
  margin-left:0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
}

.name-container{
  white-space: nowrap;
  display: flex;
  position: relative;
  justify-content: space-between;
  transition: opacity 0.25s ease-out;
  text-shadow:  0px 0px 10px #000,
                0px 0px 6px #000;
}

.name-container::before {
  content: "";
  position: absolute;
  border: 1.5px #8aceff30 solid;
  background-color: #111f;
  box-shadow: 0px 0px 12px rgba(119, 0, 255, 0.207);
  border-radius: 1px;
  padding: 4px;
  z-index: -1;
  top: -0.35em;
  left: calc(50% - 0.5 * 2em);
  width: 2em;
  height: 2em;
  transform: rotate(45deg);
}

.name-container::after {
  content: "";
  position: absolute;
  border: 1.5px #8aceff20 solid;
  background-color: rgb(14, 11, 18);
  box-shadow: 0px 0px 12px rgba(119, 0, 255, 0.207);
  border-radius: 1px;
  padding: 4px;
  z-index: -2;
  top: 1.45em;
  left: calc(50% - 0.5 * 1.25em);
  width: 1.25em;
  height: 1.25em;
  transform: rotate(45deg);
}

.name-container:hover::before {
  transform: rotate(405deg);
  transition: transform 1s ease-in-out;
}

.name-container:hover::after {
  transform: rotate(-315deg);
  transition: transform 1s ease-in-out;
}

.link-box-container {
  position: relative;
  flex-grow: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  min-width: 6.5ch;
  margin-left: 0px;
  margin-right: 0px;
}

.link-box:hover a {
  filter: brightness(120%);
}

.link-box:active a {
  color: rgb(155, 82, 103);
}

.line-link {
  color: var(--light-text);
  text-decoration: none;
}

.gear,
.fullscreen {
  cursor: pointer;
  width: 3.5em;
  height: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: var(--light-text);
}

.gear svg,
.fullscreen svg {
  width: 1.45em;
  height: 1.45em;
}

.gear:hover,
.fullscreen:hover {
  filter: brightness(120%);
}

.content {
  position: fixed;
  z-index: 2; /* Stack atop canvas. */
  grid-area: nametag / nametag / fill / fill;
  overflow-y: auto;
  overflow-x: hidden;
  width:max(320px, min(95vw, 70ch)); width:max(320px, min(95lvw, 70ch));
  max-height: calc(100%
    - var(--content-top-margin)
    - var(--content-bottom-margin));
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  font-weight: 300;
}

.content.portfolio {
  width:max(320px, min(95vw, 78ch)); width:max(320px, min(95lvw, 78ch));
}

.content h1 {
  margin-bottom: 1.25rem;
  margin-top: -12px; /* compensate for sticky close box */
  font-weight: 400;
  font-size: 1.7em;
}

.content h2 {
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 0.25em;
}

.content p {
  margin-bottom: 1.5em;
}

.carousel {
  position: relative;
  z-index: 1;
  width: min(100%, 400px);
  height: 240px;
  margin: 0px auto 2.5em auto;
  display: block;
}

.carousel::before {
  position: absolute;
  content: '';
  width: calc(100% + 32px);
  height: calc(100% + 96px);
  transform: translate(-16px, -24px);
  background-image: radial-gradient(ellipse 34% 50%,
    rgba(39, 114, 151, 0.15) 25%,
    rgba(85, 198, 255, 0.06) 70%,
    rgba(67, 192, 255, 0)
  );
}

.carousel-clipping {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow-x: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(0%);
  transition: transform 0.4s ease-out;
}

.spin-left-button,
.spin-right-button {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  border: none;
}

.spin-left-button:hover,
.spin-right-button:hover {
  filter: brightness(130%);
}

.spin-left-button:active,
.spin-right-button:active {
  filter: brightness(180%);
}

.spin-left-button {
  background-image: url('/preview-slides/arrow-previous.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 8px;
  left: 0px;
}

.spin-right-button {
  background-image: url('/preview-slides/arrow-next.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  right: 0px;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.skip-slide {
  transition: unset !important;
}

.pip-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -22px;
  width: 100%;
}

.carousel-pip {
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 16px;
}

.carousel-pip::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 6px;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #686787;
}

.carousel-pip.current::after {
  background-color: var(--brighter-text);
}

.portfolio section {
  clear: both;
}

.project-links {
  display: flex;
  margin-bottom: 5rem;
}

.portfolio section:last-of-type .project-links {
  margin-bottom: 3rem;
}

.content .project-links a {
  color: var(--dimmer-text);
  margin-right: 1em;
  font-size: 0.9em;
}

.close {
  z-index: 2;
  position: sticky;
  margin-left: calc(100% - 24px);
  top: 8px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gainsboro' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0006;
  border: 1px solid #dacaca60;
  border-radius: 20%;
  opacity: 0.5;
  box-shadow: 0px 0px 15px #000 inset;
}

.close:hover {
  filter: brightness(150%);
}

.frosted {
  /* Because filter:blur has a significant performance impact
     on lower-spec devices running Gecko, that effect has been
     delegated to the shaders running the background animation. */
  border-radius: 10px;
  color: #f000;
  background-color: #000000e0;

  background-image: linear-gradient(138deg, #aaf4 -70%, #a0a0f005 110%);
  box-shadow:
    0px 0px 1px 1px #0af8 inset,
    9px 9px 24px -6px #0004;

  transition: opacity ease-in-out 0.35s;
}

.portfolio section {
  position: relative;
}

.portfolio section::before {
  z-index: -1;
  content: '';
  width: calc(100% + 2 * var(--content-padding));
  height: 48px;
  position: absolute;
  top: calc(-1 * var(--hr-margin));
  left: calc(-1 * var(--content-padding));
  background-image: linear-gradient(to bottom, #a2f3ff10 , #a2f3ff00);
}

.portfolio hr {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0af5;;
  margin-bottom: var(--hr-margin);
  width: calc(100% + 2 * var(--content-padding));
  transform: translateX(calc(-1 * var(--content-padding)));
}

.content.portfolio :not(section:last-of-type) p:last-of-type {
  /* margin-bottom: 5em; */
}

.content.portfolio section:last-of-type p:last-of-type {
  /* margin-bottom: 2em; */
}

.portfolio ul {
  margin-right: 1em;
}

@media (min-width: 600px) {
  .portfolio ul {
    margin-right: 4em;
  }
}

.portfolio a {
  color: #82e8ff;
  text-decoration: none;
}

.project-links a img {
  height: 0.8em;
  margin-left: 0.25em;
}

.portfolio h2 img {
  height: 0.75em;
  margin-left: 0.5em;
}

.portfolio a:hover {
  text-decoration: underline;
}

.portfolio h3 {
  clear: right;
}

.portfolio strong {
  font-weight: 500;
}

.built-with {
  display: inline-block;
  font-weight: 300;
}

p.built-with {
  margin-bottom: 0.25em;
}

.feature-list {
  margin-bottom: 2em;
}

.feature-list li {
  margin-bottom: 1em;
}

.view-title {
  grid-area: environment-info;
  margin-top: 15vh;
  margin-top: 15lvh;
  font-size: 1rem;
  max-width: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.feedback {
  grid-area: feedback;
  visibility: hidden;
  max-width: 60rem;
  padding: 0.5rem;
  background-color: #111;
  box-shadow: var(--interface-edge);
  color: #abf;
  border-radius: 6px;
  font-size: 1rem;
  white-space: pre-wrap;
}

input {
  accent-color: var(--accent-color);
}

.settings > label,
.settings > details {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.settings > fieldset {
  margin-bottom: 0.7em;
}

.settings > .view-title,
.settings > .feedback {
  margin-left: 0.5em;
}

.grab-style,
.ul-animations {
  border: none;
  background-color: #0004;
  box-shadow: var(--interface-edge);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 0.7em;
  padding-right: 1.2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-left: 0.5em;
}

.ul-animations {
  margin-top: 0px;
  list-style: none;
}

.ul-animations li input {
  margin-right: 0.7em;
}

.grab-style input {
  margin-left: 0px;
}

.opaque {
  color: var(--brighter-text);
  opacity: 1;
}

.opaque ~ header * {
  /* Fade out name tag when popping up a section in portrait orientation: */
  opacity: 0;
}

.concealed {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.hidden {
  display: none;
}

.mostly-hidden {
  opacity: 0.2;
  transition: opacity ease-out 0.95s;
}

.opaque {
  color: var(--brighter-text);
  opacity: 1;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity ease-in-out 1.35s !important;
}

.underline {
  position: absolute;
  right: 0px;
  left: 100%;
  top: 5ex;
  height: 1px;
  border-bottom: 1px solid var(--light-text);
}

.bright-underline {
  filter: brightness(120%); 
}

.delay-left {
  transition: left 0.2s ease-in-out 0.1s, right 0.2s ease-in-out;
}

.delay-right {
  transition: left 0.2s ease-in-out, right 0.2s ease-in-out 0.1s;
}

.no-delay {
  transition: left 0.4s ease-in-out, right 0.4s ease-in-out;
}

.display-block {
  display: block !important;
}

header {
  grid-area: nametag;
  width: fit-content;

  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
  height: var(--footer-height);
  font-weight: 300;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

@media (hover: hover) {
  footer:hover .fade-out,
  footer:hover .mostly-hidden {
    opacity: 1 !important;
    transition: opacity ease-out 0.15s !important;
  }
}

@media not (hover: hover) {
  .fade-out {
    pointer-events: none;
  }
}

@media (orientation: landscape) and (min-width: 650px) {
  .small-title {
    margin-left: 1.1rem;
  }
}

@media (orientation: landscape) {
  :root {
    --header-height: 0px;
    --content-padding: 1.75em;
  }

  .overlay-grid {
    grid-template-areas:
    'fill fill'
    'nametag footer';

    grid-template-rows: 1fr fit-content(0px);
    grid-template-columns: fit-content(0px) 1fr;
  }

  .content {
    grid-area: fill;
  }

  .opaque ~ header * {
    /* Override fade-out in landscape orientation: */
    opacity: 1;
  }

  .carousel {
    float:right;
    margin: 0px 0px 0px 1.5em;
  }

  header {
    justify-self: start;
  }

  footer {
    justify-self: end;
    justify-content: flex-end;
  }

  .name-tag {
    padding-left: 1.9rem;
  }

  .name-container {
    padding-right: calc(0.5*var(--landscape-padding));
    margin-left: 0.6em;
  }

  .name-container::before {
    content: "";
    position: absolute;
    border: 1.5px #8aceff70 solid;
    background-color: #000f;
    box-shadow: 0px 0px 4px #0af8;
    border-radius: 1px;
    padding: 4px;
    z-index: -1;
    top: -0.05em;
    left: 1.15em;
    width: 1.6em;
    height: 1.6em;
    transform: rotate(45deg);
  }
  
  .name-container::after {
    content: "";
    position: absolute;
    border: 1.5px #8eb4ff60 solid;
    background-color: #35447d45;
    box-shadow: 0px 0px 4px #0af8;
    border-radius: 1px;
    padding: 4px;
    z-index: -2;
    top: 0.2596em;
    left: 0.44em;
    width: 1.0em;
    height: 1.0em;
    transform: rotate(45deg);
  }

  .gear,
  .fullscreen {
    width: calc(2 * var(--landscape-padding) + 1.45em);
  }
}

@media (min-width: 370px) {
  body {
    font-size: 1.15rem;
  }

  .gear,
  .fullscreen {
    width: 4em;
  }
}

/* Really tiny landscape escape hatch: */
@media (orientation: landscape) and (max-width: 680px) {
  .small-title {
    display: none;
  }
}
