/* Styling for extended chat interface functionality
*/
:root{
    --tooltip-bg: #dcf;
    --tooltip-contrast: #669;
    --tooltip-highlight: rgb(194, 18, 252);
}

.user-hover-tooltip{
    position: absolute;
    background: var(--tooltip-bg);
    box-shadow: 5px 5px 5px #0048;
    min-width: 200px;
    min-height: 100px;
    z-index: 9;
    /* The transparent border improves mouseenter usability. */
    border: 8px solid transparent;
    border-radius: 4px;
    outline: 3px solid var(--tooltip-contrast);
}

.user-hover-tooltip div{
    padding-left: 4px;
}

.user-hover-title{
    background: var(--tooltip-contrast);
    color: #eff;
    border-radius: 4px;
}

.user-hover-tooltip div:hover:not(.user-hover-title){
    box-shadow: 0px 0px 25px 2px var(--tooltip-highlight) inset;
}
