.d {
    border: 2px dashed purple;
}

:root {
    --root-color: #ff0;
    /* --nu-primary-rgb: 255 157 0 / 1; */
    /* --nu-primary: rgb(var(--nu-primary-rgb)); */
    --nu-primary: rgb(228, 95, 5);
    --nu-info-rgb: 255, 190, 10;
    --nu-success: rgb(202, 31, 0);
    --nu-success-hover: rgb(234, 71, 43);
    --nu-success-border: rgb(126, 19, 0);
    
    --nu-hover: rgb(255, 205, 24);
    --nu-border: rgb(200, 50, 6);
    --nu-accordion-bg: rgb(255, 201, 109);
    --nu-saturated-dark: rgb(146, 34, 0);
}

.text-info {
    --bs-info-rgb: var(--nu-info-rgb) !important;
}

.text-bg-info {
    background-color: rgb(var(--nu-info-rgb)) !important;
}

.nav-item {
    z-index: 1; /* The cat illustration covers the links otherwise. */
}

.accordion {
    --bs-accordion-active-bg: var(--nu-accordion-bg);
    --bs-accordion-active-color: var(--nu-saturated-dark);
    
}

.text-bg-primary {
    background-color: var(--nu-primary) !important;
}

.btn {
    --bs-btn-bg: var(--nu-primary);
    --bs-btn-border-color: var(--nu-border);
    --bs-btn-hover-bg: var(--nu-hover);
    --bs-btn-hover-border-color: var(--nu-border);
}

.btn-success {
    --bs-btn-bg: var(--nu-success);
    --bs-btn-border-color: var(--nu-success-border);
    --bs-btn-hover-bg: var(--nu-success-hover);
    --bs-btn-hover-border-color: var(--nu-success-border);
}

.text-info {
    --bs-info-rgb: 255, 180, 50;
}

body {
    background-color: #fefafa;
    color: #333;
}

.kitty {
    color: limegreen !important;
}

.silhouette::before {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
    position:absolute;
    right: 0%; bottom: 0%;
    content: "";
    background-image: url(img/cat-silhouette.svg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: right 50% bottom 100%;
    filter: invert();
}

@media (max-width: 768px) {
    .silhouette::before {
        width: 30vw;
        height: 30vw;
        bottom: 25%;
        background-size: 150%;
        background-position: 50% 50%;
    }
}

@media (max-width: 576px) {
    .silhouette::before {
        display: none;
    }
}

.suggestible {
    color: var(--root-color);
}

a {
    color: var(--bs-red);
}

.bgcat {
    z-index: -9;
    position: fixed;
    bottom: -5vw;
    right: -25vw;
    filter: opacity(20%);
}

.card-1 {
    background-image: url(img/alexander-andrews-KfPwby-UisA-unsplash.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.card-2 {
    background-image: url(img/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.card-3 {
    background-image: url(img/amber-kipp-75715CVEJhI-unsplash.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 768px) {
    .card-1 {
        background-size: 140%;
        background-position: 50% 55%
    }
    .card-2 {
        background-size: 150%;
    }

    .card-3 {
        background-size: 120%;
        background-position: 65% 44%;
    }
}

@media (min-width: 768px) {
  .price-card {
        height: 11em;
        overflow: hidden;
  }
}

.cat-card {
    height: 15rem;
    overflow: hidden;
}

.heavy-text-shadow {
    text-shadow: 1px 1px 16px black, 1px 1px 16px black, 1px 1px 16px black, 1px 1px 8px black, 1px 1px 8px black;
}

@media (max-width: 600px) {
    .bgcat {
        scale: 200%;
        bottom: 0vw;
        right: -15vw;
    }
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
    .cat-card {
        height: 20rem;
    }
}

.cool-shades {
    background-color: rgba(0,0,0,0.5);
}

.cat-1, .cat-2, .cat-3 {
    height: 100%;
    object-fit: none;
}

.cat-1 {
    object-position: 40% 50%;
}

.cat-3 {
    object-position: 30% 35%;
}

@media (max-width: 768px) {
    .cool-shades {
        background-color: transparent;
    }

    .cat-1 {
        object-position: 30% 50%;
    }
    .cat-3 {
        object-position: 0% 30%
    }
    .cat-card div button {
        width: 12rem;
        margin: 0px auto;
    }
}
