html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --light-text: rgb(220, 201, 233);
}

.hidden {
  display: none;
}

body {
  background-color: #000;
  background-image:
    radial-gradient(230vw 30vh at 55vw 112vh, #000 45%, transparent),
    radial-gradient(230vw 200vh at 55vw 112vh, #000, #020204 35%, #30268a 98%)
    ;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: 'Voltaire', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-text);

  margin: 0px;
  display: grid;
  place-items: center;
  grid-template-rows: minmax(0, 1fr) minmax(0) minmax(0) minmax(0);
  grid-template-areas:
    'noscript-notice'
    'canvas-container'
    'environment-info'
    'feedback'
    'copyright';
}

.cloudscape {
  position: absolute;
  pointer-events: none;
  /* background-image: url('./alpha-cloud-1.png'); */
  background-size: 200vw 100vh;
  background-repeat: repeat-x;
  mix-blend-mode: overlay;
  top: 0px;
  height: 85vh;
  width: 100vw;

  /* animation: scroll-fog 3s infinite; */
}

@keyframes scroll-fog {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.noscript-notice {
  grid-area: noscript-notice;
  position: absolute;
  top: 0px;
  color: rgb(172, 172, 180);
}

header h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

header {
  font-size: 1rem;
  max-width: 70rem;
  margin: 0px auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.copyright-notice {
  grid-area: copyright;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

.copyright-notice a {
  color: rgb(138, 148, 255);
}

.render-canvas {
  touch-action: none;
  cursor: grab;
  width: min(500px, 95vw, 95vh);
  height: min(500px, 95vw, 95vh);
  margin-left: auto;
  margin-right: auto;
  margin-top: -7vh;
}

@media only screen and (max-device-width: 480px) {
  .render-canvas {
    /* compensate for the navigation bar on narrow devices */
    margin-top: -15vh;
  }
}

.view-title {
  grid-area: environment-info;
  margin-top: 15vh;
  font-size: 1rem;
  max-width: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.canvas-container {
  grid-area: canvas-container;
  height: 100vh;
  display: grid;
  place-items: center;
}

.feedback {
  grid-area: feedback;
  visibility: hidden;
  max-width: 60rem;
  padding: 0.5rem;
  background-color: #111;
  color: #abf;
  border-radius: 6px;
  font-size: 1rem;
  white-space: pre-wrap;
}
